fastapi
uvicorn
langchain
langchain-classic
langchain-cohere
langchain-community
rank_bm25
langchain-core
langchain-openai
langchain-ollama
langchain-text-splitters
langchain-tavily
youtube-transcript-api
pydantic
python-dotenv
ragas
rapidfuzz
pandas
